/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  /* background: var(--color-background); */
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul,li{ list-style:none; margin:0; padding:0; } 
button { border: none; outline: none; background-color: transparent; cursor: pointer; } 
.f-fl{
  float: left;
}

.f-fr{
  float: right;
}
.clear{
  overflow: hidden; 
}
.d-flex{
  display: flex;
}
.t-center{
  text-align: center;
}
.t-left{
  text-align: left;
}
.t-grey{
  color: rgba(0, 0, 0, 0.45)
}
.t-red{
  color: #FF4D4F;
}
.t-orange{
  color:#FEA000;
}
.t-blue{
  color:#1677ff;
}
.t-label{
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: right;;
}
.b-submit-button{
  width: 100px;
  text-align: center;
  height: 40px;
  margin-left: 100px;
}
.b-base {
  display: block;
  float: right;
  width: 120px;
  height: 54px;
  line-height: 44px;
  border-radius: 4px;
  cursor: pointer;
}
.b-base-button{
  display: block;
  float: left;
  min-width: 120px;
    max-width: 200px;
    height: 40px;
    line-height: 38px;
    background: #FFF;
    margin-right: 10px;
    padding: 0 12px;
    font-size: 14px;
    color: rgba(0, 0, 0, .75);
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 4px;
    border: 1px solid #1677ff;
    cursor: pointer;
}
.b-base-button-active {
  background-color: #1677ff;
  color: #fff;
}

.d-form{
  .ant-input{
    height: 40px;
    line-height: 40px;
  }
  .ant-select{
    height: 40px;
    line-height: 40px;
    .ant-select-selector{
      height: 40px;
      line-height: 40px;
    }
  }
  .ant-picker{
    height: 40px;
    line-height: 40px;
  }
}

.b-submit {
  width: 230px;
  height: 42px;
  line-height: 32px;
  text-align: center;
  /* background: #56BEB2; */
  border-radius: 4px !important;
  /* color: #FFF; */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  /* border: 1px solid #56BEB2!important; */
}
a{
  cursor: pointer;
  color: #1677ff!important;
}
a:hover{
  color: #1677ff!important;
  background-color: transparent!important;
}

.c-blue{
  color: #1677ff;
}

.c-white{
  color: #fff;
}

.wechatLogin{
  width: 400px;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgb(86 190 178 / 19%);
  border-radius: 10px;
  padding-top: 30px;
}
.ant-form-item-label{
  min-width: 81px!important;
}

.ant-modal{
  width: 420px!important;
}

.ant-modal-wrap{
  .ant-modal{
    width: 600px!important;
  }
}